LOG_LEVEL=debug
LISTEN_PORT=8443
WEBHOOK_URL=https://zjwalsh-vmware.tail4794a2.ts.net
WXAUTH_URL=https://webexapis.com/v1/access_token
CAAUTH_URL=https://id.calsaws.net:443/auth/oauth2/realms/root/realms/calsaws/access_token?grant_type=client_credentials&token_endpoint_auth_method=client_secret_posttoken_endpoint_auth_method=client_secret_post
WXCC_WXCLIENT_ID=C2dee08fe0c3cdfb22000cedd22a99e24fa1120d948416d67ee49b2f889e69d2c
WXCC_WXCLIENT_SECRET=c0ce4cc51127444b90ac2f9a908a860f60b528bb86a08c7b721bccb301a0ff22
WXCC_WEBHOOK_SECRET = 1ee1a4fd-145f-4e7e-a7fe-7f1a0dddf444
WXCC_ORGID=4f25a9a0-32e6-445f-b347-d920b9b857be
WXCC_API_URL=https://api.wxcc-us1.cisco.com/v2/
WXCC_REFRESH_TOKEN=R2E1NzA0NjktYWNjZi00NTMwLWFhODQtNzgwM2VkZmNjY2RkMzQ1ZWI1Y2ItNmNi_PF84_4f25a9a0-32e6-445f-b347-d920b9b857be
CALSAWS_CLIENT_ID=5KLMJtqxDnthworg
CALSAWS_CLIENT_SECRET=';L/89v(NA*uUS?Mq/>f'
CALSAWS_CLIENT_SCOPE=TeleSig_19
IDLE_TIMER=3
CLEAR_DB_ON_START=true
USESECURE=false

